{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
        {% block stylesheets %}
        {{parent()}}
        {{ encore_entry_link_tags('login') }}
        {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-xs-12">
            <h2 class="text-center text-white mb-4"></h2>
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded transparent">
                        <div class="card-header">
                            <h3 class="mb-0">Cantina Emanuel Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate="" method="POST">
                                <div class="form-group">
                                    <label for="uname1">Username</label>
                                    <input type="text" class="form-control form-control-lg rounded" name="uname1" id="uname1" required="">
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded" id="pwd1" required="" autocomplete="new-password">
                                    <div class="invalid-feedback">Enter your password too!</div>
                                </div>
                                 <div class="col-sm-offset-1">
                                    <label class="checkbox">
                                     <input type="checkbox" value="remember-me"> Remember me
                                    </label>
                                  </div>
                                <button type="submit" class="btn btn-danger btn-block btn-lg float-right" id="btnLogin">Login</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
    <div class="row">
        <div class="col-12 col-xs-12">
            <h2 class="text-center text-white mb-4"></h2>
            <div class="row">
                <div class="col-md-6 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded transparent-word">
                        <div class="card-header">
                            <h3 class="mb-0">Daily inspiration from God's Word</h3>
                        </div>
                        <div class="card-body">
                           <h4 id="BibleVerse" class="blockquote text-danger">   For this is the way God loved the world: He gave
                    his one and
                    only Son, so
                    that
                    everyone who
                    believes in him will not perish but have eternal life.</h4>

                <h4 id="BibleSource" class="blockquote-footer text-left">John 3 : 16</h4>
                   
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->
 {#  LINK #}
                <a class="nav-link" href="/admin-dashboard">Admin <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/accountant-dashboard">Contabil <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/restaurant-dashboard">Restaurant <span class="sr-only">(current)</span></a>
                <a class="nav-link" href="/student-dashboard">Student <span class="sr-only">(current)</span></a>

                </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->

{% endblock %}
{% block javascripts %}
{{parent()}}
    {{ encore_entry_script_tags('login') }}
{% endblock %}