$background: rgb(155, 135, 135);
$culoare-tema: darken(#b93232, 20%);
$alb:white;

//login
$login-image: url("../../images/global/login-image.png");
$login-culoare-card:rgba(255, 255, 255, 0.726);

//navbar
$logo-image:url("../../images/admin/Ueo_ro_white_png.png");

$border-radius:10px;