<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{{numepagina}}{% endblock %}</title>
        {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block navbar %}
<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark">
  <a class="navbar-brand" href="/admin-dashboard">Cantina Emanuel</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="admin-dashboard">
          <i class="fas fa-tachometer-alt"></i> Dashboard
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin-abonamente">
          <i class="fas fa-table"></i> Abonamente </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admin-utilizatori">
          <i class="fas fa-users"></i> Utilizatori </a>
      </li>
            <li class="nav-item">
        <a class="nav-link" href="/admin-anunturi">
          <i class="fas fa-bullhorn"></i> Anunțuri </a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Profil </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="/admin-profile">Contul Meu</a>
          <a class="dropdown-item" href="/">Log out</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
        {% endblock %}
        <!--Header -->
{% block header %}
<div class="hr-sect pb-4"><span class="titlu">{{numepagina}}</spanc></div>
{% endblock %}
<!--/.Navbar -->

        {% block body %}{% endblock %}

        {% block footer %}
        <!-- Footer -->
<footer class="page-footer font-small blue footer-color fixed-bottom">
  <div class="footer-copyright text-center py-1 pagelink1">© 2019
    <a href="http://www.emanuel.ro/" class="pagelink"> testEMANUEL.RO</a>
  </div>
</footer>
<!-- Footer -->
        {% endblock %}
        {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>