@import "~bootstrap/scss/bootstrap";
@import "../global/_variables.scss";
@import "../components/_buttons.scss";

html,
body {
    height: auto;
    width: 100%;

}

body {
    align-content: center;
    background-image: $login-image;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width: 100%;

}

.transparent,
.transparent-word {
    opacity: 0.9;

    filter: alpha(opacity=30);
    /* For IE8 and earlier */
    background-color: $login-culoare-card;
}