

{% extends 'admin-base.html.twig' %}
{% block stylesheets %}
        {{parent()}}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block anunturi %}
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-info">
               <span class="glyphicon glyphicon-ok"></span> <strong>Titlu</strong>
                <hr class="message-inner-separator">
                <p>
                   mesaj jdfkghkxghxvxcbncv kdfgn,dm gd    jgdfghfld gjldfj dj d jfdklgdjgjdjdf   jfg hf  fhjff jkf jlj4</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-info-sign"></span> <strong>Titlu</strong>
                <hr class="message-inner-separator">
                <p>
                    Mesaj 12</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-record"></span> <strong>Titlu</strong>
                <hr class="message-inner-separator">
                <p>
                    Mesaj  3</p>
            </div>
        </div>
        <div class="col-sm-6 col-md-6">
            <div class="alert alert-info">
                <span class="glyphicon glyphicon-hand-right"></span> <strong>Titlu</strong>
                <hr class="message-inner-separator">
                <p>
                    mesaj jdfkghkxghxvxcbncv kdfgn,dm gd    jgdfghfld gjldfj dj d jfdklgdjgjdjdf   jfg hf  fhjff jkf jlj4</p>
            </div>
        </div>
    </div>
</div>
        {% endblock %}
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {{parent()}}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
