{% extends 'admin-base.html.twig' %}



{% block body %}
<div class="container-fluid">
 <div class="row mb-3">
                <div class="col-xl-3 col-md-6">
                    <div class="card text-white bg-success mb-3">
                        <div class="card-body text-white">

                            <h6 class="text">Utilizatori noi</h6>
                            <h1 class="display-1">134</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card text-white bg-danger mb-3">
                        <div class="card-body text-white">

                            <h6 class="text">Abonamente luna curenta</h6>
                            <h1 class="display-1">87</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card text-white bg-info mb-3">
                        <div class="card-body text-white">

                            <h6 class="text">Suma luna precedenta</h6>
                            <h1 class="display-1">125</h1>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card text-white bg-primary mb-3">
                        <div class="card-body text-white">

                            <h6 class="text">Suma anuala</h6>
                            <h1 class="display-1">36</h1>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->
</div>
{% endblock %}