{% extends 'admin-base.html.twig' %}
        {% block stylesheets %}
        {{parent()}}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block body %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Link</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Catre</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-success">Profilurile</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-danger">contabililor</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-warning">si</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-info">altor</a>
  <a href="#" class="list-group-item list-group-item-action list-group-item-light">entitati</a>

</div>
                    
                </div>
                
            </div>
        </div>

        {% endblock %}

        {% block javascripts %}
        {{parent()}}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}