@import "~bootstrap/scss/bootstrap";
@import "global/_variables.scss";
@import "components/_nav.scss";
@import "components/_buttons.scss";

//---------------------Header----------------------//
.hr-sect {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: $culoare-tema;
    font-size: 1rem;
    margin: 8px 0px;
}

.hr-sect::before,
.hr-sect::after {
    content: "";
    flex-grow: 1;
    background: $culoare-tema;
    height: 10px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 16px;
    border-radius: $border-radius;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $culoare-tema;
    line-height: 1;
    font-family: "Times New Roman",
        Times,
        serif;
    font-weight: bold;
}

.titlu {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $culoare-tema;
    line-height: 1;
    font-family: "Times New Roman",
        Times,
        serif;
    font-weight: bold;
    font-size: 2rem;
}



//-------------------Footer----------------//
a.pagelink:link,
a.pagelink:visited,
a.pagelink:active {
    color: $alb;
    text-decoration: none;
    font-weight: bold;
}

a.pagelink:hover {
    color: #0f0f0f;
    text-decoration: none;
    font-weight: bold;
}

.footer-color {
    background-color: $culoare-tema;
}

.pagelink1 {
    color: $alb;
}