@import "../global/_variables.scss";

/***** Top menu *****/
.navbar {
    background: $culoare-tema;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}

.navbar.navbar-no-bg {
    background: $culoare-tema;
}

.navbar-dark .navbar-nav {
    font-size: 15px;
    color: $culoare-tema;
}

.navbar-dark .navbar-nav .nav-link {
    color: $alb;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;

}

.navbar-dark .navbar-nav .nav-link:focus {
    color: $alb;
    outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-brand {
    width: 105px;
    //background: $logo-image no-repeat left center;
    border: 0;
    //text-indent: -99999px;
}