{% extends 'accountant-base.html.twig' %}
        {% block stylesheets %}
        {{parent()}}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
{# {% use 'admin-anunturi.html.twig' with anunturi as admin_anunturi %}

        {% block anunturi %}
        {{ parent() }}
{# https://twig.symfony.com/doc/2.x/tags/use.html 
        {% endblock %} #}
        {% block javascripts %}
        {{parent()}}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}