{% extends 'accountant-base.html.twig' %}
        {% block stylesheets %}
        {{parent()}}
        {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block body %}

        {% endblock %}
        {% block javascripts %}
        {{parent()}}
        {{ encore_entry_script_tags('app') }}
        {% endblock %}
